<a href="https://colab.research.google.com/github/quotation3/TIL/blob/master/BoW%26TFIDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [5]:
s1 = '오늘 동물원에서 코끼리를 봤어'
s2 = '오늘 동물원에서 원숭이에게 사과를 줬어'

token_s1 = s1.split()
token_s2 = s2.split()
union = set(token_s1).union(set(token_s2))

idx = list(range(len(union)))
data = [ x for x in zip(union,idx) ]
data

# dic1 = dict(zip(range(len(union)), union))
# dic1

[('원숭이에게', 0),
 ('동물원에서', 1),
 ('사과를', 2),
 ('오늘', 3),
 ('코끼리를', 4),
 ('봤어', 5),
 ('줬어', 6)]

In [12]:
cnt1 = np.zeros(len(union))

for num1, word1 in enumerate(union):
    if word1 in token_s1:
        cnt1[num1]+=1
bow1 = [ x for x in zip(union,idx,cnt1) ]


cnt2 = np.zeros(len(union))
for num2, word2 in enumerate(union):
    if word2 in token_s2:
         cnt2[num2]+=1
bow2 = [ x for x in zip(union,idx,cnt2) ]

print(bow1)
print(bow2)

[('원숭이에게', 0, 0.0), ('동물원에서', 1, 1.0), ('사과를', 2, 0.0), ('오늘', 3, 1.0), ('코끼리를', 4, 1.0), ('봤어', 5, 1.0), ('줬어', 6, 0.0)]
[('원숭이에게', 0, 1.0), ('동물원에서', 1, 1.0), ('사과를', 2, 1.0), ('오늘', 3, 1.0), ('코끼리를', 4, 0.0), ('봤어', 5, 0.0), ('줬어', 6, 1.0)]

In [13]:
d1 = 'The cat sat on my face i hate a cat'
d2 = 'The dog sat on my bed i love a dog'

In [43]:
token_d1 = d1.split()
token_d2 = d2.split()
union = set(token_d1).union(set(token_d2))
cnt=np.zeros(len(union))    #cnt 리스트설정
union = list(union) #union은 set형식이므로 인덱스로 접근 불가능 -> list로 변환
freqs=[]    #TF 리스트설정
total = []  #문서내전체토큰 리스트설정

for j in range(len(union)):
    total.append(len(token_d1))

for a,b in enumerate(token_d1):
    for i in range(len(union)):
        if b == union[i]:
            cnt[i]+=1   #union에 있는 단어가 token_d1과 겹칠때마다 +1
            
for x in range(len(union)):
    freqs.append(cnt[x]/total[x])   #TF구하기
        
data = np.array([union,cnt,total,freqs])
df1 = pd.DataFrame(data.T, columns=['단어','문서내토큰빈도','문서내전체토큰','TF'])
df1

      단어 문서내토큰빈도 문서내전체토큰   TF
0   face     1.0      10  0.1
1      i     1.0      10  0.1
2    dog     0.0      10  0.0
3   love     0.0      10  0.0
4    sat     1.0      10  0.1
5     on     1.0      10  0.1
6    bed     0.0      10  0.0
7   hate     1.0      10  0.1
8      a     1.0      10  0.1
9    The     1.0      10  0.1
10    my     1.0      10  0.1
11   cat     2.0      10  0.2

In [44]:
union = set(token_d1).union(set(token_d2))
cnt=np.zeros(len(union))
union = list(union)
freqs=[]
total = []

for j in range(len(union)):
    total.append(len(token_d2))

for a,b in enumerate(token_d2):
    for i in range(len(union)):
        if b == union[i]:
            cnt[i]+=1
            
for x in range(len(union)):
    freqs.append(cnt[x]/total[x])
        
data = np.array([union,cnt,total,freqs])
df2 = pd.DataFrame(data.T, columns=['단어','문서내토큰빈도','문서내전체토큰','TF'])
df2

      단어 문서내토큰빈도 문서내전체토큰   TF
0   face     0.0      10  0.0
1      i     1.0      10  0.1
2    dog     2.0      10  0.2
3   love     1.0      10  0.1
4    sat     1.0      10  0.1
5     on     1.0      10  0.1
6    bed     1.0      10  0.1
7   hate     0.0      10  0.0
8      a     1.0      10  0.1
9    The     1.0      10  0.1
10    my     1.0      10  0.1
11   cat     0.0      10  0.0

In [57]:
cnt2=np.zeros(len(union))   #토큰이등장한문서수 리스트설정
idf = []    #idf 리스트설정
doc = []    #전체문서수 리스트설정

for j in range(len(union)):
    doc.append(2)   #doc 완성

for x,y in enumerate(union):
    if y in token_d1:
        cnt2[x] += 1    #token_d1에 있는단어들 cnt 하나씩 플러스
for w,z in enumerate(union):
    if z in token_d2:
        cnt2[w] += 1    #token_d2에 있는단어들 cnt 하나씩 플러스

for x in range(len(union)):
    idf.append(np.log(doc[x]/cnt2[x]).round(2))  #idf 구하기

data = np.array([doc, cnt2, idf])
df_idf = pd.DataFrame(data.T, columns=['문서수','토큰이등장한문서수','IDF'])
df_idf

    문서수  토큰이등장한문서수   IDF
0   2.0        1.0  0.69
1   2.0        2.0  0.00
2   2.0        1.0  0.69
3   2.0        1.0  0.69
4   2.0        2.0  0.00
5   2.0        2.0  0.00
6   2.0        1.0  0.69
7   2.0        1.0  0.69
8   2.0        2.0  0.00
9   2.0        2.0  0.00
10  2.0        2.0  0.00
11  2.0        1.0  0.69

In [61]:
tfidf = []
for j in range(len(union)):
    tfidf.append((freqs[j]*idf[j]).round(2))

data = np.array([union,cnt, total, freqs, doc, cnt2, idf, tfidf])
df_tfidf = pd.DataFrame(data.T, columns=['단어', '문서내토큰빈도','문서내전체토큰', 'TF', '문서수','토큰이등장한문서수','IDF', 'TFIDF'])
df_tfidf

      단어 문서내토큰빈도 문서내전체토큰   TF 문서수 토큰이등장한문서수   IDF TFIDF
0   face     0.0      10  0.0   2       1.0  0.69   0.0
1      i     1.0      10  0.1   2       2.0   0.0   0.0
2    dog     2.0      10  0.2   2       1.0  0.69  0.14
3   love     1.0      10  0.1   2       1.0  0.69  0.07
4    sat     1.0      10  0.1   2       2.0   0.0   0.0
5     on     1.0      10  0.1   2       2.0   0.0   0.0
6    bed     1.0      10  0.1   2       1.0  0.69  0.07
7   hate     0.0      10  0.0   2       1.0  0.69   0.0
8      a     1.0      10  0.1   2       2.0   0.0   0.0
9    The     1.0      10  0.1   2       2.0   0.0   0.0
10    my     1.0      10  0.1   2       2.0   0.0   0.0
11   cat     0.0      10  0.0   2       1.0  0.69   0.0